CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SIGNED_URL_SECRET=pon_aqui_otro_secreto_distinto_al_jwt
SIGNED_URL_EXPIRE_MINUTES=tu_tiempo_de_expiracion_en_minutos
API_BASE_URL=http://127.0.0.1:8000